*
{
    z-index: 1;
    margin: 0;
    padding: 0;
}
html
{
    font-family: consolas;
    font-size: 10px;
}
.container
{
    position: relative;
    width: 70vw;
    height: 50vh;
    background-color: #ffffff;
    margin: 18rem auto;
    z-index: 1;
}
.container h1
{
    font-size: 10rem;
    text-align: center;
    z-index: 1;
    color: #ffffff;
    padding-top: 5rem;
}
.container .animate1
{
    position: absolute;
    width: 0vw;
    height: 50vh;
    background-color: #000000;
    top: 0px;
    animation: 5s animate 0s ease-in-out infinite;
    border-radius: 1rem;
}
@keyframes animate
{
    0%
    {
        width: 0vw;
        z-index: -1;
    }
    50%
    {
        width: 70vw;
        z-index: -1;
    }
    100%
    {
        width: 0vw;
        z-index: -1;
    }
}